@import './sass-styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
}

:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

#root {
  max-width: 71rem;
  margin: 0 auto;
}







.screenshot {
  width: 71rem;
  height: 50rem;
  background: url(./screenshot/Screenshot_from_2024-01-18_14-31-20.png);
  border: 2px solid hotpink;
  margin: 4rem auto;
}
